/NotNow.Console/bin
/NotNow.Console/obj
/NotNow.Core/bin
/NotNow.Core/obj
/NotNow.GitHubService/bin
/NotNow.GitHubService/obj
NotNow.Console/appsettings.json
/NotNow.Quake/bin
/NotNow.Quake/obj
NotNow.Quake/appsettings.Development.json
nul
